@import "tailwindcss";
@plugin "daisyui";
body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/src/assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Scrollbar for WebKit browsers */
html {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #121212 #555; /* Thumb & Track color */
}
::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
  cursor: pointer; /* Dark background */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #121212; /* Dark gray handle */
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #242424; /* Lighter gray on hover */
}
